<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %>

  <%= form.label :email, 'Email:' %>
  <%= form.email_field :email %>

  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, autocomplete: "new-password" %>
  <div><em>Leave blank if you don't want to change the password.</em></div>

  <%= form.label :password_confirmation, 'Confirmation:' %>
  <%= form.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= form.submit "Save changes" %>
<% end %>
